<div class="center">
<%if @goals%>
  <div style="width:200px">  
  <% @fathers.each do |father|%>
    <div class="tip">
    <%per = (Time.now-father.start_time).to_f/(father.end_time-father.start_time).to_f%>
    <% count = 0 %>
    <% complete = 0 %>
    <% @goals.each do |goal| %>
      <%if goal.father == father.id%>
        <% count=count+1 %>
        <% if goal.status == '1' %>
          <% complete = complete+1%>
        <%end%>
      <%end%>
    <% end %>
    <div class="father"><%= father.title%>&nbsp&nbsp
    <div class="time">
      <div>起始时间:<%=father.start_time.strftime("%Y-%m-%d")%></div>
      <div>结束时间:<%=father.end_time.strftime("%Y-%m-%d")%></div>
    </div>
      <% case father.status%>
        <% when '0' %>
        <span style="color:blue">进行中</span>
        </div>
        <div class="progress progress-striped active"><div class="bar bar-danger" style="width:<%= per>1 ? 100 : per*100%>%;"><div id="father_per" class="bar" style="width:<%= count==0 ? 0 : (complete.to_f/count.to_f)*100 %>%;"><%= count==0 ? 0 : (format("%.2f",complete).to_f/format("%.2f",count).to_f)*100 %>%</div></div></div>
        <% when '1' %>
        <span style="color:#59F378;">已完成</span>
        </div>
        <div class="progress"><div class="bar bar-success complete_bar"><div></div></div></div>
        <% when '2' %>
        <span style="color:red">未达标</span>
        </div>
        <div class="progress"><div class="bar bar-danger complete_bar"><div></div></div></div>
        <% when '3' %>
        <span style="color:gray">中止</span>
        </div>
        <div class="progress"><div class="complete_bar" style="background:#CECECE;"><div></div></div></div>
        <% else %>
      <% end %>
    <div><%= father.description%></div>
    <div><%= link_to "Edit",edit_user_goal_path(father.user_id,father)%></div><br>
    <% @goals.each do |goal|%>
      <% if goal.father == father.id %>
        <%per = (Time.now-goal.start_time).to_f/(goal.end_time-goal.start_time).to_f%>
        <div class="son"><%= goal.title%>&nbsp&nbsp
        <div class="time">
          <div>起始时间:<%=goal.start_time.strftime("%Y-%m-%d")%></div>
          <div>结束时间:<%=goal.end_time.strftime("%Y-%m-%d")%></div>
        </div>
        <% case goal.status%>
          <% when '0' %>
            <span style="color:blue">进行中</span>
            </div>
            <div class="progress progress-striped active"><div class="bar bar-danger" style="width:<%= per>1 ? 100 : per*100%>%;"><div></div></div></div>
          <% when '1' %>
            <span style="color:green">已完成</span>
            </div>
            <div class="progress"><div class="bar bar-success complete_bar"><div></div></div></div>
          <% when '2' %>
            <span style="color:red">未达标</span>
            </div>
            <div class="progress"><div class="bar bar-danger complete_bar"><div></div></div></div>
          <% when '3' %>
            <span style="color:gray">中止</span>
            </div>
            <div class="progress"><div class="complete_bar" style="background:#CECECE;"><div></div></div></div>
          <% else %>
        <% end %>
        <div><%= goal.description%></div>
        <div><%= link_to "Edit",edit_user_goal_path(goal.user_id,goal)%></div><br>
      <%end%>
    <%end%>
   
    </div>
  <% end %>
  </div>
<%end%>
  <%= link_to "New Goal",new_user_goal_path(@user)%>
