<h3>Home</h3>
  <p>User: <%=link_to @user.name, @user %></p>
  <p>Goals:</p>
  <div style="display:table">
  <% @fathers.each do |father|%>
    <div style="width:250px;float:left;background:#C0FF3E;margin:2px">
    <%per = (Time.now-father.start_time).to_f/(father.end_time-father.start_time).to_f%>
    <% count = 0 %>
    <% complete = 0 %>
    <% @goals.each do |goal| %>
      <%if goal.father == father.id%>
        <% count=count+1 %>
        <% if goal.status == '1' %>
          <% complete = complete+1%>
        <%end%>
      <%end%>
    <% end %>
    <div style="font-weight:bold"><%= father.title%>&nbsp&nbsp
      <% case father.status%>
        <% when '0' %>
        <span style="color:blue">进行中</span>
        </div>
        <div style="background:white;height:20px;width:200px"><div style="background:red;width:<%= per>1 ? 200 : per*200%>px;height:20px"><div id="father_per" style="background:#D1EEEE;width:<%= count==0 ? 0 : (complete.to_f/count.to_f)*200 %>px;height:20px"><%= count==0 ? 0 : (format("%.2f",complete).to_f/format("%.2f",count).to_f)*100 %>%</div></div></div>
        <% when '1' %>
        <span style="color:green">已完成</span>
        </div>
        <div style="background:white;height:20px;width:200px"><div style="background:green;width:200px;height:20px"><div></div></div></div>
        <% when '2' %>
        <span style="color:red">未达标</span>
        </div>
        <div style="background:white;height:20px;width:200px"><div style="background:red;width:200px;height:20px"><div></div></div></div>
        <% when '3' %>
        <span style="color:gray">中止</span>
        </div>
        <div style="background:white;height:20px;width:200px"><div style="background:gray;width:200px;height:20px"><div></div></div></div>
        <% else %>
      <% end %>
    <div><%= father.start_time.strftime("%Y-%m-%d")%></div>
    <div><%= father.end_time.strftime("%Y-%m-%d")%></div>
    <div><%= father.description%></div>
    <div><%= father.father %></div>
    <div><%= link_to "Edit",edit_user_goal_path(father.user_id,father)%></div><br>
    <% @goals.each do |goal|%>
      <% if goal.father == father.id %>
        <%per = (Time.now-goal.start_time).to_f/(goal.end_time-goal.start_time).to_f%>
        <div style="font-weight:bold;font-size:10px"><%= goal.title%>&nbsp&nbsp
        <% case goal.status%>
          <% when '0' %>
            <span style="color:blue">进行中</span>
            </div>
            <div style="background:white;height:20px;width:200px"><div style="background:red;width:<%= per>1 ? 200 : per*200%>px;height:20px"><div></div></div></div>
          <% when '1' %>
            <span style="color:green">已完成</span>
            </div>
            <div style="background:white;height:20px;width:200px"><div style="background:green;width:200px;height:20px"><div></div></div></div>
          <% when '2' %>
            <span style="color:red">未达标</span>
            </div>
            <div style="background:white;height:20px;width:200px"><div style="background:red;width:200px;height:20px"><div></div></div></div>
          <% when '3' %>
            <span style="color:gray">中止</span>
            </div>
            <div style="background:white;height:20px;width:200px"><div style="background:gray;width:200px;height:20px"><div></div></div></div>
          <% else %>
        <% end %>
        <div><%= goal.start_time.strftime("%Y-%m-%d")%></div>
        <div><%= goal.end_time.strftime("%Y-%m-%d")%></div>
        <div><%= goal.description%></div>
        <div><%= goal.father %></div>
        <div><%= link_to "Edit",edit_user_goal_path(goal.user_id,goal)%></div><br>
      <%end%>
    <%end%>
   
    </div>
  <% end %>
  </div>
  <%= link_to "New Goal",new_user_goal_path(@user)%>
